#root {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  width: 10rem;
  height: 7rem;
  margin: 1rem;
  background-color: darkslategray;
  border: 3px solid white;
  text-align: center;
  padding: .3rem;
}